.app__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 90%;
  max-width: 300px;
  border: 3px solid black;
  display: flex;
  margin-bottom: 25px;
}

.box-centered {
  align-items: center;
  justify-content: center;
}

.newTodo__input {
  width: 90%;
}

.newTodo__button {
  width: 10%;
}

.item-completed {
  text-decoration: line-through;
}

.button__remove-todo {
  visibility: hidden;
}

.todo-item:hover .button__remove-todo {
  visibility: visible;
}