.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 90%;
  max-width: 300px;
  border: 3px solid black;
  display: flex;
  margin-bottom: 25px;
}

.box-centered {
  align-items: center;
  justify-content: center;
}

.box-column {
  flex-direction: column;
}

.box-todo {
  margin-top: 10px;
  margin-bottom: 5px;
  border: 3px solid grey;
}

.box-todo span {
  margin-right: auto;
  max-width: 90%;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.newTodo__input {
  width: 90%;
}

.newTodo__button {
  width: 10%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.item-completed {
  text-decoration: line-through;
}

.button__remove-todo {
  visibility: hidden;
}

.todo-item:hover .button__remove-todo {
  visibility: visible;
}
